@charset "UTF-8";
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: Avenir, Verdana, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #16160e;
  text-align: justify;
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #21759b;
}

a:hover {
  color: #21759b;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: "リュウミン R-KL",'Ryumin Medium KL','Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, serif;
}

/*--- google font ---*/
.gf_sawarabi {
  font-family: "Sawarabi Mincho", serif;
}

.gf_roundedmplus1c {
  font-family: "Rounded Mplus 1c", sans-serif;
}

.gf_noto {
  font-family: "Noto Sans Japanese", sans-serif;
}

.gf_nunito {
  font-family: "Nunito", sans-serif;
}

.gf_roboto {
  font-family: "Roboto", sans-serif;
}

.gf_robotoslab {
  font-family: 'Roboto Slab', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 24px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 15px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

body {
  color: #444;
  background: #f6f6f6;
}

/*-----------------------------------------------
 __layout
-----------------------------------------------*/
.l_row {
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.l_row.pd_side {
  padding-right: 5%;
  padding-left: 5%;
}

.md_header {
  position: relative;
  padding: 0 0 5vh;
}

.md_header__ttl {
  padding: 10vh 0 5vh;
}

.md_header__ttl span {
  display: block;
}

.md_header__ttl em {
  position: relative;
  display: inline-block;
  font-size: .75em;
  padding: 0 .25em;
}

.md_header__ttl em:before {
  content: '';
  position: absolute;
  bottom: .1em;
  left: 0;
  background: rgba(255, 255, 85, 0.75);
  width: 100%;
  height: .75em;
  z-index: -1;
}

.md_introduction {
  padding: 5vh 0;
}

.md_column__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.md_column__wrap .column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 90px) / 3);
          flex: 0 1 calc((100% - 90px) / 3);
  margin-bottom: 30px;
}

.md_footer {
  padding: 10vh 0;
  background: #ebe9ea;
  text-align: center;
}

/*# sourceMappingURL=maps/style.css.map */
