@charset "utf-8";
@import "_mixin.scss";


$c1: #121011;
$c2: #121011;
$c3: #E95504;
$c4: #8CC01F;
$c5: #BB2A4B;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;
